body{
    font-family: 'Open Sans', sans-serif !important;
}

iframe{
    height: 400px;
}

#header{
    position: fixed;
    top: 0px;
    background-color: #FFFFFF;
    width: 100%;
    margin-left: 36px;
    max-width: initial;
    z-index: 1;
}

#top_row{
    border-bottom: solid 4px;
    border-bottom-color: red;
}

#site_name{
    display: inline-block;
    margin-left: 4px;
    font-size: 65px;
    letter-spacing: 6px;
    padding: 0px;
}

#tagline{
    margin-left: 35px;
    font-size: 14px;
    letter-spacing: 2.5px;
}

#navigation{
    display: inline-block;
    padding: 0px;
    margin-top: 12px;
}

.button{
    padding: 0 !important;
    font-size: 20px !important;
    margin-top: 0px !important;
}

#contents{
    margin-top: 182px;
    width: 70%;
    max-width: initial;
    z-index: 0;
}

.content_container{
    margin: 50px 0px 50px 0px !important;
}

.project_container{
    max-height: 372px !important;
}

.project{
    cursor: pointer;
    box-shadow: 0px 0px 10px #888888;
    margin: 20px 0px 20px 0px !important;
    height: 100%;
}

.project_image{
    border: solid 2px #888888;
}

.project_tag{
    font-style: italic;
}

.reveal-modal{
    top: 0px !important;
}

#github_logo{
    width: 90px;
}

#github_link{
    vertical-align: bottom;
    margin-left: 5px;
}