body{
    font-family: 'Open Sans', sans-serif !important;
}

iframe{
    height: 400px;
}

#header{
    position: fixed;
    top: 0px;
    background-color: #FFFFFF;
    width: 100%;
    margin-left: 36px;
    max-width: initial;
    z-index: 1;
}

#top_row{
    border-bottom: solid 4px;
    border-bottom-color: red;
}

#site_name{
    display: inline-block;
    margin-left: 4px;
    font-size: 65px;
    letter-spacing: 6px;
    padding: 0px;
}

#tagline{
    margin-left: 35px;
    font-size: 14px;
    letter-spacing: 2.5px;
}

#navigation{
    display: inline-block;
    padding: 0px;
}


#contents{
    margin-top: 182px;
    width: 70%;
    max-width: initial;
    z-index: 0;
}

.content_container{
    margin: 40px 0px 40px 0px !important;
}