body{
    font-family: 'Open Sans', sans-serif !important;
    margin: 0 !important;
    position: absolute !important;
    height: auto !important;
    background-color: #FFFFFF !important;
}

iframe{
    height: 400px;
    border: solid #888888 2px;
    padding: 0 !important;
}

#header{
    position: fixed;
    top: 0px;
    background-color: #FFFFFF;
    width: 100%;
    margin-left: 36px;
    max-width: initial;
    z-index: 1;
}

#top_row{
    border-bottom: solid 4px;
    border-bottom-color: red;
}

#site_name{
    display: inline-block;
    margin-left: 4px;
    font-size: 65px;
    letter-spacing: 6px;
    padding: 0px;
}

#site_name_small{
    display: inline-block;
    margin-left: 4px;
    font-size: 42px;
    letter-spacing: 6px;
    padding: 0px;
}

#tagline{
    margin-left: 35px;
    font-size: 14px;
    letter-spacing: 2.5px;
}

#navigation{
    display: inline-block;
    padding: 0px;
    margin-top: 12px;
}

.button{
    padding: 0 !important;
    font-size: 20px !important;
    margin-top: 0px !important;
    margin-right: 20px !important;
    color: black !important;
    background-color: #FFFFFF !important;
}

.section_heading{
    display: inline-block;
    border-bottom: solid 2px red;
}

#contents{
    margin-top: 160px;
    width: 70%;
    max-width: initial;
    z-index: 0;
}

#about{
    margin-bottom: 90px;
}

.body_text{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

#projects{
    margin-top: 90px;
    margin-bottom: 90px;
}

.project_container{
    display: block !important;
    height: 30% !important;
    margin: 0px 0px 20px 0px !important;
}

.project{
    cursor: pointer;
    box-shadow: 0px 0px 10px #888888;
    height: 100%;
    padding-top: 7px !important;
}

.project:hover{
    background-color: #EBEBEB;
}

.project_image{
    border: solid 2px #888888;
    display: block;
    height: 239px;
    width: 100%;
}

.project_tag{
    font-style: italic;
}

.demo{
    margin: 0;
    font-style: italic;
}

#contact{
    margin-top: 90px;
    margin-bottom: 60px;
}

#github{
    margin-left: 5px;
    margin-bottom: 5px;
}

#github_logo{
    width: 114px;
}

#github_link{
    vertical-align: bottom;
    margin-left: 5px;
}

#footer{
    width: 100%;
    height: 40px;
    background-color: black;
}

.close-row{
    margin-top: 15px;
}

.extra-close-button{
    display: block;
    color: #FFFFFF;
    background-color: #0688E3;
    margin: auto;
    width: 85px;
    height: 34px;
    border-radius: 2px !important;
}

.extra-close-button:hover{
    background-color: #0574C2;
}