* {
	font-family: 'Open Sans', sans-serif !important;
}

a{
	color: rgba(5,109,182,1.0);
	transition: color .2s ease, text-decoration .2s ease;
}

a:hover {
	color: rgba(65,109,182,.85);
	text-decoration: underline;
}

body {
	background: rgba(255,255,255,1.0);
    margin-top: 10px;
}

#mainDReport {
	background: #F1F1F1;
	border-top:2px solid rgba(200,200,200,0.8);
	border-bottom:2px solid rgba(200,200,200,0.8);
	position: relative;
	z-index: 10;
}

fieldset {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

fieldset legend{
	font-size: 0.875rem;
	font-weight: 400;
	background: transparent;
}

.panel {
	background: white;
	border: 0px;
	box-shadow: 0px 0px 1px 1px rgba(100,100,100,0.1);
}

/* Define mobile styles */
@media only screen { 
		#map {
    	min-height: 475px;
	    width: 100%;
		border: 1px solid rgba(200,200,200,1.0);
		background: white;
	}
} 

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) { 
		#map {
    	min-height: 475px;
	    width: 100%;
		border: 1px solid rgba(200,200,200,1.0);
		background: white;
	}
}

/* Define mobile styles */
@media only screen { 
	.info {
		margin-top: 20px;
	}
	#hero {
    	min-height: 75%;
	    width: 100%;
		background: white;
	}
	#hero img{
		height: 100px;
		display: block;
    	margin-top: 25px;
    	margin-right: auto;
    	margin-bottom: 10px;
    	margin-left: auto;
	}
} 

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) { 
	.info {
		margin-top: 150px;
	}
	#hero {
    	min-height: 60%;
	    width: 100%;
		background: white;
        margin-top: 25px;
	}
	#hero img{
		height: 369px;
		display: block;
    	margin-top: 10px;
    	margin-right: auto;
    	margin-bottom: 10px;
    	margin-left: auto;

	}
}

#Notes {
	height: 200px;
}

.button {
	border-radius: 4px;
	color: white;
	border-bottom: 3px solid rgba(120,120,120,1.0);
	transition: background .25s ease-in, border-bottom .15s ease, color .2s ease;
}

.button:hover {
	background: rgba(5,109,182,1.0);
	text-decoration: none;
	border-bottom: 3px solid rgba(120,120,120,1.0);
}

.button:focus {
	background: rgba(5,109,182,1.0);
}

button:active{
    top: 4px;
}

.button.light {
	background:rgba(200,200,200,1.0);
	border-bottom: 3px solid rgba(140,140,140,1.0);
	color: rgba(130,130,130,1.0);
}

.button.light:hover {
	background:rgba(190,190,190,1.0);
	border-bottom: 3px solid rgba(120,120,120,1.0);
	color: rgba(230,230,230,1.0);
}

.overview p{
	margin-bottom: 0px;
}

.panel hr {
	margin-top: 0px;
	margin-bottom: 25px;
}

.panel h4 {
	margin-bottom: 7px;
}

#ss-submit {
	border-radius: 4px;
}





#mobileLocation {
    visibility: hidden;

}



#mobileLocation.visible {
	visibility: visible;
}


.footer {
	height: 100px;
	background: rgba(150,150,150,1.0);
}

#submitting{
    background: #008CBA;
    border-radius: 4px;
	color: white;
	border-bottom: 3px solid rgba(120,120,120,1.0);
    height: 58px;
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1.0625rem;
    font-size: 1rem;
}




#fileToUpload{
    width: 40%;
}

#clear{
    display: inline-block;
    color: #FF0000;
    cursor: pointer;
}

#clear:hover{
    color: #AF0000;
}


#fileToUploadMobile{
    width: 65%;
}

#clearMobile{
    display: inline-block;
    color: #FF0000;
    cursor: pointer;
    font-size: 12px;
}

#clearMobile:hover{
    color: #AF0000;
}

input[type="text"][readonly]{
	background-color: white;
	cursor: text;
}